body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: #0ad498;
  stroke-width: 1.5px;
}

.found {
  fill: #0ad498;
  stroke: #0ad498;
}
.node text {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.search {
  width: 50%;
  height: 35px;
  /* padding-left: 40px; */
}
.select2-choice {
  height: 35px !important;
}

.list {
  list-style: none;
  padding: 0;
  width: 50%;
}
.list li {
  padding: 10px 5px;
  background-color: #f2f2f2;
  margin: 5px 0;
}
li {
  cursor: pointer;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tree {
  margin: 10px 0;
  display: none;
}
.select2-drop-active {
  left: 364px !important;
  width: 712px !important;
}
